<%= stylesheet_link_tag "/Users/matthewd/Projects/GitExplore/app/assets/stylesheets/application.css" %>
<div id="body" class="application">
  <div id="header">
    <h1>GitExplore</h1>
    <p>Find the most talented GitHub contributors in your area!</p>
  </div>
  <div id ="content">
    <h1>Contributors</h1>
  </div>
  <div id="footer">
    <p>Made in Wellington, New Zealand 🇳🇿</p>
  </div>
</div>
